# Dependencies
node_modules/

# Build outputs
dist/
build/

# TypeScript build cache
*.tsbuildinfo

# Env files
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/

/src/generated/prisma

api.rest